.clubs{
   z-index: 1;
   position: relative;
   margin: 20px;
   margin-top: 80px;
   margin-bottom: 2%;
}

.text-div{

    position: relative;
}

.club-img{
    margin-right: 10px;
    float: left;
    position: relative;
    margin-top: 2px;
    height: 100px;
}