.form{
    position: relative;
	margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}

.form-group{
    position: relative;
    padding: 10px;
    padding-left: 10px;
    margin-top: 2px;
    padding-right: 10px;
    margin-bottom: 2px;
    width: 95%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.form-group:hover {
	background-color: #1a8c9bc4;
    color: white;
}

.button {
    position: relative;
    background-color: #1a8c9bc4; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

select {
    position: relative;
    width: 100%;
    padding: 16px 12px;
    border: none;
    border-radius: 4px;
    background-color: #edf0ca;
}
select:hover {
    position: relative;
    background-color: #1a8c9bc4;
    color: white
}



input {
    position: relative;
    width: 95%;
	background-color: #edf0ca;
	border: none;
    padding: 10px;
    padding-left: 10px;
    margin-top: 2px;
    padding-right: 10px;
    margin-bottom: 2px;

}
input:hover {
    background-color: #1a8c9bc4;
    color: white
}
 
.buttonHolder {
    display: flex; 
    justify-content: center;
}