body {
    background-image: url("../resources/background.jpg");
    background-color: #000000;
    background-size: cover;
 }

 
.horizontal-navigation {
    z-index: 100;
    overflow: hidden;
    background-color: #1a8c9bc4;    
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    left: 0;
    padding: -1em;
    display:inline-block
}
    
.horizontal-navigation a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 1.6em;
    line-height: 70px;
}
    
.horizontal-navigation a:hover {
    background: #14576bb4;
    color: #ffffff;
}