.title{
    margin: 20px;
    background-color: #ecdcb9;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
}

 .buble{
     background-color: #edf0ca;
     background-size: auto;    
     padding: 10px;
     border-radius: 25px;
     position: relative;
     top: 5%;
     margin-top: 2%;
     margin-bottom: 2%;
 }
