.form{
    position: relative;
	margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}

.form-group{
    position: relative;
    padding: 10px;
    padding-left: 10px;
    margin-top: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    width: 95%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid #1a8c9bc4;
    border-radius: 5px;
}
.form-group:hover {
	background-color: #1a8c9bc4;
    color: white;
}

select {
    position: relative;
    width: 100%;
    padding: 16px 12px;
    border: none;
    border-radius: 4px;
    background-color: #edf0ca;
}
select:hover {
    position: relative;
    background-color: #1a8c9bc4;
    color: white
}

img {
    border-radius: 50%;
}