.content {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.centered-content {
    text-align: center;
    left: 30%;
    width: 40%;    
}

.all {
    background-image: url('../images/background.jpg');
}

.bubble {
    text-align: left
}

.home-element {
    text-align: center
}

.club-image {
    margin-right: 10px;
    position: relative;
    margin-top: 2px;
    height: 100px;
}

.gmap {
    height: 100%;  
    width: 100%;  
}

.pointer {
    font-weight: bold;
    color: black
}