.content {
    margin: 100px
}

.centered-content {
    text-align: center;
    left: 30%;
    width: 40%;
    margin: 100px;
}
.all {
    background-image: url('../images/background.jpg');
}

.home {
    text-align: center
}