.page-content {
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
}

.centered-content {
    text-align: center;
    left: 30%;
    width: 40%;    
}

.all {
    background-image: url('../images/background.jpg');
}

.bubble {
    text-align: left
}

.home-element {
    text-align: center
}

.club-image {
    margin-right: 5%;
    position: relative;
    margin-top: 20%;
    margin-bottom: 20%;
    max-height: 150px;
    width: 100px;
}
.gmap {
    height: 100%;  
    width: 100%;  
}

.pointer {
    font-weight: bold;
    color: black;
}

.list-item {
    width: 30%
}

.user-list {
    width: 100%
}

.joined {
    text-align: center;
}
.bubble-icon {
    margin: 0 .25rem 0 0;
}

.bubble-detail {
    margin-top: 2%;
    margin-bottom: 2%;
}